<a href="https://colab.research.google.com/github/b4lbs/alura_ML_classificacao_sklearn/blob/main/Introdu%C3%A7%C3%A3o_a_Machine_Learning_e_Classifica%C3%A7%C3%A3o_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

uri = "https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv"
dados = pd.read_csv(uri)
dados.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [ ]:
# Mudando o cabe√ßalho de cada coluna
mapa = {
    "home" : "principal",
    "how_it_works" : "como_funciona",
    "contact" : "contato",
    "bought" : "comprou"
}
dados = dados.rename(columns = mapa)

In [ ]:
# Separando os atributos das classes
X = dados[["principal", "como_funciona", "contato"]]
y = dados["comprou"]

In [ ]:
dados.shape

(99, 4)

In [ ]:
# Separando em dados de traino e teste
train_X = X[:75]
train_y = y[:75]
test_X = X[75:]
test_y = y[75:]

print(f'Treinaremos com {len(train_X)} elementos e testaremos com {len(test_X)} elementos.')

Treinaremos com 75 elementos e testaremos com 24 elementos.

In [ ]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

model = LinearSVC()
model.fit(train_X, train_y)
previsoes = model.predict(test_X)
acuracia = accuracy_score(test_y, previsoes)
print(f'A acur√°cia foi {acuracia*100:.2f}%.')

A acur√°cia foi 95.83%.

# Usando a biblioteca para separar treino e teste

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

SEED = 42

train_X, test_X, train_y, test_y = train_test_split(X, y, random_state = SEED, test_size = 0.25)
print(f'Treinaremos com {len(train_X)} elementos e testaremos com {len(test_X)} elementos.')

model = LinearSVC()
model.fit(train_X, train_y)
previsoes = model.predict(test_X)

acuracia = accuracy_score(test_y, previsoes)
print(f'A acur√°cia foi {acuracia*100:.2f}%.')

Treinaremos com 74 elementos e testaremos com 25 elementos.
A acur√°cia foi 96.00%.

In [ ]:
train_y.value_counts()

0    50
1    24
Name: comprou, dtype: int64

In [ ]:
test_y.value_counts()

0    17
1     8
Name: comprou, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

SEED = 42

train_X, test_X, train_y, test_y = train_test_split(X, y,
                                                    random_state = SEED, test_size = 0.25,
                                                    stratify = y)
print(f'Treinaremos com {len(train_X)} elementos e testaremos com {len(test_X)} elementos.')

model = LinearSVC()
model.fit(train_X, train_y)
previsoes = model.predict(test_X)

acuracia = accuracy_score(test_y, previsoes)
print(f'A acur√°cia foi {acuracia*100:.2f}%.')

Treinaremos com 74 elementos e testaremos com 25 elementos.
A acur√°cia foi 96.00%.

In [ ]:
train_y.value_counts()

0    49
1    25
Name: comprou, dtype: int64

In [ ]:
test_y.value_counts()

0    17
1     8
Name: comprou, dtype: int64